modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]
publicDir = "dist/public"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_database:1.0.0", "javascript_object_storage:2.0.0"]

[userenv]

[userenv.shared]
ZOHO_CLIENT_ID = "1000.LA4JUPGE302NF9LYG0KI3WMGZRXW1W"
ZOHO_REFRESH_TOKEN = "1000.4bfdf0a3289d7bd8ec8d774d6e44fcfc.a5ac7b6c42e244f6c41e00397175baee"
ZOHO_CLIENT_SECRET = "02890cfbbb621dd37a5c9cdcba232feaf63806e612"
ZOHO_ACCOUNT_DOMAIN = "https://accounts.zoho.com"
ZOHO_API_DOMAIN = "https://www.zohoapis.com"
ZOHO_WORKDRIVE_PARENT_FOLDER_ID = "6w86nb32221cc39204b94bfed5893c750049b"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000
